#Button {
  width: auto;
  min-width: 6rem;
  padding: 1rem 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: var(--color-primary);
  color: var(--color-text);
}

#Button i {
  margin-right: .5rem;
}
